<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>



<script type="text/javascript">
	
	var tuna = 20;
	document.write(tuna);


	function funky(){

		alert("Ouch!!!!!!!!!!!!");
	}


	//funky();


</script>


<form>
	
<input type="button" value = "touch me" onclick="funky()">


</form>