<h1>more functions</h1>

<script type="text/javascript">
	
	function meatball(x){

		//alert("I love"+x);
		return ("I like"+x)
	}

	meatball("bacon");
	var x =0;
	while(x<20){
		document.write(meatball("bacon"+x+"<br>"));
		x=x+1;
	}

	for(i=0;i<=20;i++){

		document.write(i*1000+"<br>");
	}

</script>