<h1>Event Handlers</h1>

<script type="text/javascript">
	
</script>


<form>
	
	<input type="button" value="touch me" onclick="alert('ahhhh!');">

	<a href="http://www.google.com" onmouseover="alert('gametime');">Hover over me</a>


</form>